In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [ ]:
cara 1

In [2]:
pd.DataFrame({'col1':[1, 2, 3, 4],
'col2':[5, 6, 7, 8,]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [ ]:
cara 2

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[13,  8, 18],
       [10, 10,  6],
       [19, 19, 11],
       [11, 18,  9],
       [14,  5,  4]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  13   8  18
1  10  10   6
2  19  19  11
3  11  18   9
4  14   5   4

In [ ]:
Membentuk Data Frame dengan memanfaatkan pandas.util.testing

In [ ]:
1. Memanfaatkan make DataFrame

In [5]:
pd.util.testing.makeDataFrame().head()

C:\Users\ACER\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
JbVyBcyCAi  0.251071 -0.090560 -0.486941 -1.345417
SkDWJAGKcT -0.073418  0.380994  0.547140  0.548238
dmhfikecM8  0.866717 -1.128580 -0.174760 -0.222837
J6yEGMquZm -0.315780 -0.426709 -0.238566  0.135297
tbpdUMusnr -0.146355  0.367003  0.428268 -0.825104

In [ ]:
2. Membuat MixedDataFrame

In [6]:
pd.util.testing.makeMixedDataFrame).head()

SyntaxError: unmatched ')' (Temp/ipykernel_4876/2844293306.py, line 1)

In [ ]:
3. Membuat data frame berisi data deret

In [7]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03  0.271584  0.093089  0.194803  0.886611
2000-01-04 -0.043984  1.038194 -0.955775  0.504774
2000-01-05 -0.397318  1.110933  1.158056 -0.236001
2000-01-06 -0.910132 -0.212831  0.901913 -0.606798
2000-01-07 -1.144725 -0.813828 -0.764109 -0.852748

In [2]:
pd.util.testing.makeMissingDataframe().head()

NameError: name 'pd' is not defined